
/*Boton 1*/
#but1 {
    --color: #FF0000;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 20 auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #000000;
   }
  
   #but1:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   #but1:hover {
    color: #fcf7f7;
   }
   
   #but1:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   #but1:hover:before {
    top: -30px;
    left: -30px;
   }
   
   #but1:active:before {
    background: #FF0000;
    transition: background 0s;
   }

   #but1 a {
    color: inherit;
    text-decoration: none;
  }
   /*Boton 2*/
#but2 {
    --color: #FFD700;
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #000000;
   }
   
   #but2:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   #but2:hover {
    color: #fffbfb;
   }
   
   #but2:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   #but2:hover:before {
    top: -30px;
    left: -30px;
   }
   
   #but2:active:before {
    background: #FFD700;
    transition: background 0s;
   }
#but2 a {
    color: inherit;
    text-decoration: none;
  }
      /*Boton 3*/
#but3 {
    --color: rgb(8, 8, 245);
    font-family: inherit;
    display: inline-block;
    width: 8em;
    height: 2.6em;
    line-height: 2.5em;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color .5s;
    z-index: 1;
    font-size: 17px;
    border-radius: 6px;
    font-weight: 500;
    color: #000000;
   }
   
   #but3:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 200px;
    border-radius: 50%;
   }
   
   #but3:hover {
    color: #faf4f4;
   }
   
   #but3:before {
    top: 100%;
    left: 100%;
    transition: all .7s;
   }
   
   #but3:hover:before {
    top: -30px;
    left: -30px;
   }
   
   #but3:active:before {
    background: #0000FF;
    transition: background 0s;
   }
   #but3 a {
    color: inherit;
    text-decoration: none;
  }
  
  #left-panel {
    background-color: #f4f1f1;
    color: #080808;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
  }

  #right-panel {
    color: #f7f7f7;
    padding: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
  }
  
/* Estilo para la información desplegable */
.contenido-desplegable h2 {
  cursor: pointer;
}

/* Esconde el contenido del div */
#tipos {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}

/* Muestra el contenido cuando el checkbox está marcado */
#toggle-tipos:checked ~ #tipos {
  max-height: 5500px;
  transition: max-height 0.3s ease-in-out;
}


.imagenYtexto{
  width: 50%;
  float: right;
  margin-right: 20px;
}

.imagenYtexto img {
  width: 100%;
  height: auto;
}

.pf {
    width: 900px;
    height: 400px;
  }
  .portadas {
    width: 300px;
    height: 300px;
  }

  .center {
    display: block;
    margin: auto;
  }
.container {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    flex: 1;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
    
  }
  header {
    background-color: #0a0a0a;
  
  /* Cambia el color de fondo a dorado */
    padding: 2px 0; /* Altura del borde superior */
  }
  
  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  #header .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .header-content .logo {
    display: flex;
    align-items: center;
  }
  
  .header-content .logo img {
    width: 66px;
    height: auto;
    margin-right: 3px; 
  }
  
  .header-content h1 {
    color: #f9c024;
    font-size: 2rem;
    text-shadow: 2px 2px 4px #a98416; /* Ajusta los valores según tus preferencias */
  }
  
  header a {
    color: #ffffff; /* Cambiar al color que desees */
    font-size: 20px;
    margin-right: 15px; /* Agregar un margen derecho para separar los enlaces */
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  
  /* Estilo de la sección de características */
  .features {
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    background-color: #f2f0f0d8;
    margin-top: 20px; /* Incrementar el valor para más espacio */
  }
  
  .feature {
    text-align: center;
  }
  
  
  
  
  /* Estilos para los botones */
  
  
  /* Estilo del pie de página */
  
  h1 {
    color: #f9c024;
    font-size: 22px; /* Cambia el tamaño del texto según tus preferencias */
    text-shadow: 2px 2px 4px #a98416;
  }
  
  /* Cambiar el estilo de los enlaces en el footer */
  footer a {
    color: #f9c024c4; /* Cambiar al color que desees */
    text-decoration: underline; /* Subrayar el texto */
    margin-right: 10px; /* Agregar un margen derecho para separar los enlaces */
  }
  
  
  footer {
    background-color: #000000;
     color: #fff;
     text-align: center;
     padding: 20px 0;
     margin-top: -10px;
  }
  
  .logo h2 {
    color: #ffffff; /* Color del texto "Centro de ayuda" */
    font-size: 20px; /* Tamaño del texto "Centro de ayuda" */
    margin-left: 15px; /* Margen izquierdo para separar el texto del nombre del sitio */
  }
  #but2 a {
    color: inherit;
    text-decoration: none;
  }
  
  
 /* Estilo para pantallas más pequeñas, como tabletas */
@media (max-width: 768px) {
  .features {
      flex-direction: column; /* Cambiar a un diseño de columna en pantallas más pequeñas */
      align-items: center; /* Centrar elementos en pantallas más pequeñas */
  }

  .feature {
      margin-bottom: 20px; /* Agregar espacio entre elementos en pantallas más pequeñas */
  }

  .elemento {
      font-size: 16px;
      margin: 5px;
  }
}

/* Estilo para pantallas muy pequeñas, como teléfonos móviles */
@media (max-width: 480px) {
  .elemento {
      font-size: 14px;
      margin: 3px;
  }
}

